{% extends 'app/base.html' %}

{% block content %}
<section class="hero">
            <h2>Welcome to my about page!</h2>
            <p>This is where you can tell your story, share your mission, or highlight your team.</p>
            <button>Learn More</button>
        </section>
        <section class="team">
            <h2>Meet</h2>
            <div class="team-members">
                <div class="team-member">

                    <h3>Dela Cruz</h3>
                    <p>Founder & CEO</p>
                </div>
                <div class="team-member">

                    <h3>Meljy</h3>
                    <p>Co-Founder & CTO</p>
                </div>
            </div>
        </section>
        <section class="mission">
            <h2>Mission</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet nulla auctor, vestibulum magna sed, convallis ex.</p>
        </section>
    <footer>
        <p>&copy; 2024 Our About</p>
    </footer>
{% endblock content %}