{% extends 'app/base.html' %}

{% block content %}

    <h1>This is my Contact Information</h1>


        <div class="header">
            <h1 style="margin-bottom: 3%; color: #000;">Contact Me</h1> <!-- color to black -->
        </div>
        <div class="body">
            <ul>
                <li>
                    <div class="list">
                        <div class="text"><span>Email: </span> delacruzmeljy0000@gmail.com</div>
                    </div>
                </li>
                <li>
                    <div class="list">
                        <div class="text"><span>Address: </span> Bacoor Cavite, Philippines</div>
                    </div>
                </li>
                <li>
                    <div class="list">

                        <div class="text"><span>Phone: </span> +1234567</div>
                    </div>
                </li>
                <li>
                    <div class="list">

                        <div class="text"><span>Website: </span> https://github.com/Meljy</div>
                    </div>
                </li>
            </ul>
        </div>
<footer>
        <p>&copy; 2024 Our About</p>
    </footer>
{% endblock content %}
